@(game: at.ac.tuwien.big.we14.lab2.api.QuizGame)
<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="de" lang="de">
    <head>
        <meta charset="utf-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Business Informatics Group Quiz - Zwischenstand</title>
         <link rel="stylesheet" type="text/css" href="@routes.Assets.at("stylesheets/main.css")" />
        <script src="js/jquery.js" type="text/javascript"></script>
        <script src="js/framework.js" type="text/javascript"></script>
    </head>
    <body id="winnerpage">
        <a class="accessibility" href="#roundwinner">Zur Rundenwertung springen</a>
        <header role="banner" aria-labelledby="mainheading"><h1 id="mainheading"><span class="accessibility">Business Informatics Group</span> Quiz</h1></header>
        <nav role="navigation" aria-labelledby="navheading">
            <h2 id="navheading" class="accessibility">Navigation</h2>
            <ul>
                <li><a id="logoutlink" title="Klicke hier um dich abzumelden" href="@routes.Application.logout()" accesskey="l">@Messages("link.logout")</a></li>
            </ul>
        </nav>
        
        <section role="main">
            <!-- winner message -->
            <section id="roundwinner" aria-labelledby="roundwinnerheading">
                <h2 id="roundwinnerheading" class="accessibility">@Messages("info.roundScore")</h2>
                <p class="roundwinnermessage">@game.getCurrentRound().getRoundWinner().getName() @Messages("info.playerWinner") @game.getCurrentRoundCount() !</p>
            </section>
        
            <!-- round info -->    
            <section id="roundinfo" aria-labelledby="roundinfoheading">
                <h2 id="roundinfoheading" class="accessibility">Spielerinformationen</h2>
                <div id="player1info" class="playerinfo">
                    <span id="player1name" class="playername">@game.getPlayers().get(0).getName()</span>
                    <ul class="playerroundsummary">
                    @for(i<-0 to 2){
                    @if(game.getCurrentRound().getAnswer(i,game.getPlayers.get(0)) == null){
                    	<li><span class="accessibility">Frage 3:</span><span id="player1answer3" class="unknown">Unbekannt</span></li>
                    }else {
                    @if(game.getCurrentRound().getAnswer(i,game.getPlayers.get(0)).isCorrect()){
                        <li><span class="accessibility">Frage 1:</span><span id="player1answer1" class="correct">Richtig</span></li>
                    }else{
                        <li><span class="accessibility">Frage 2:</span><span id="player1answer2" class="incorrect">Falsch</span></li>
                        }
                    }
                    }  
                     </ul>
                    <p id="player1roundcounter" class="playerroundcounter">@Messages("rounds.won")<span id="player1wonrounds" class="playerwonrounds">@game.getWonRounds(game.getPlayers().get(0))</span></p>
                </div>
                <div id="player2info" class="playerinfo">
                    <span id="player2name" class="playername">@game.getPlayers().get(1).getName()</span>
                    <ul class="playerroundsummary">
                    @for(i<-0 to 2){
                    @if(game.getCurrentRound().getAnswer(i,game.getPlayers.get(1)) == null){
                    	<li><span class="accessibility">Frage 3:</span><span id="player2answer@i" class="unknown">Unbekannt</span></li>
                    }else {
                    @if(game.getCurrentRound().getAnswer(i,game.getPlayers.get(1)).isCorrect()){
                        <li><span class="accessibility">Frage 1:</span><span id="player2answer@i" class="correct">Richtig</span></li>
                    }else{
                        <li><span class="accessibility">Frage 2:</span><span id="player2answer@i" class="incorrect">Falsch</span></li>
                        }
                    }
                    }   
                     </ul>
                    <p id="player2roundcounter" class="playerroundcounter">@Messages("rounds.won")<span id="player2wonrounds" class="playerwonrounds">@game.getWonRounds(game.getPlayers().get(1))</span></p>
                </div>
                <a id="next" href="startNewRound">@Messages("link.next")</a>
            </section>
        </section>

        <!-- footer -->
        <footer role="contentinfo">© 2014 BIG Quiz</footer>
    </body>
</html>
